/* Custom styles for the Student E-Learning Course Page Navbar */
.navbar {
    background-color: var(--primary);
    padding: 1rem 2rem;
}

.navbar-brand {
    color: #FFFFFF;
    font-weight: 700;
}

.navbar-nav .nav-link {
    color: #FFFFFF;
    font-weight: 600;
    text-transform: uppercase;
    margin-right: 1rem;
    transition: color 0.3s;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active {
    color: var(--light);
}

.navbar-toggler-icon {
    background-color: #FFFFFF;
}

@media (max-width: 991.98px) {
    .navbar-light .navbar-nav {
        border-top: none;
    }
}

.navbar-light.sticky-top {
    background-color: rgba(24, 29, 56, 0.9);
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        background-color: var(--light);
        border: none;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transition: background-color 0.3s;
    }

    .navbar .dropdown-menu.fade-down {
        top: 100%;
        transform: rotateX(0deg);
        transform-origin: 0% 0%;
    }

    .navbar .nav-item:hover .dropdown-menu {
        visibility: visible;
        opacity: 1;
        background-color: var(--light);
        transition: background-color 0.3s;
    }

    .navbar .nav-item .dropdown-menu a.nav-link {
        color: var(--dark);
        font-weight: 500;
        transition: color 0.3s;
    }

    .navbar .nav-item .dropdown-menu a.nav-link:hover {
        color: var(--primary);
    }
}
